* {}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

@font-face {
    font-family: "kalam";
    src: url("./assets/Kalam-Regular.ttf") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff") format("ttf");
}

@font-face {
    font-family: "jura";
    src: url("./assets/Jura.ttf") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff") format("ttf");
}

h2 {
    font-family: "jura", sans-serif;
}

p {
    font-family: "jura";
}

.presentationHeader {
    font-family: "jura";
}

.text-center {
    font-family: "jura";
}

.welcomeMsg {
    font-family: kalam, sans-serif;
    font-size: 50px;
}

.nav-link {
    font-family: kalam, sans-serif;
}

.headerContainer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skillsContainer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.projetContainer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contactContainer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.network {
    padding: 100px;
}

.nav-link {
    color: white;
}

.titleWeb {
    margin-right: auto;
    font-family: "jura";
    font-size: 30px;
}

.name {
    color: white;
}

.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.navbar-nav {
    margin-left: auto;
}

.lastItemNavBar {}

.navContainer {
    padding-top: 20px;
    padding-bottom: 20px
}

.image-fluid {
    max-width: 400px;
    min-width: 10px;
    height: auto;
    border-radius: 15%;
    filter: drop-shadow(2px 2px 2px black);
}

.card {
    height: 400px;
}

.projetContainer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.img {
    display: flex;
    justify-content: center;
}

.pic {
    display: flex;
    justify-content: end;
}

.btnProjet {
    display: flex;
    justify-content: center;
}

.nav-item {
    padding-right: 30px;
}

.nameSkills {
    padding-top: 20px;
}

.spacer {
    padding-top: 50px;
}

#containProject {
    display: flex;
    flex-wrap: wrap;
}


/* ------------------------ */

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: 1;
}

/* ------------ */

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;
  }
  
  .nav-link {
    padding: .2rem 1rem;
  }
  
  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
  }

  .nav-link {
    font-family: jura;
  }



.mask-custom-1 {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, .2);
  border-radius: 3em;
  border: 2px solid rgba(255, 255, 255, .1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

@media (max-width: 767px) {
  .bg-image {
    height: 1400px !important;
  }
}

.team {
    padding-top: 100px;
    padding-bottom:100px ;
}